service: telegram-lambda
frameworkVersion: '3'

provider:
  name: aws
  runtime: python3.10

plugins:
  - serverless-python-requirements
  - serverless-doppler

functions:
  call:
    handler: handler.call
    events:
      - http:
          path: message
          method: post
    environment: {{ range $n, $v := . }}
        {{$n}}: ${env:{{$n}}}{{end}}

custom:
  pythonRequirements:
    dockerizePip: non-linux
    usePoetry: true